<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zero Daedalus Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome! <small>Connect. Develop. Evolve.</small></h1>
            <p>Thank you for checking out the zDae Design and Development portfolio. These projects were all hand-crafted by Dewitt A. Buckingham of Zero Daedalus. Feel free to contact him via <a href="mailto:captain@zerodaedalus.net">email</a>.</p>
            <p><a href="http://zerodaedalus.com" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>